*{
    margin: 0;
    padding: 0;
    --primary:#4589D8;
    --bg:rgb(243, 242, 242);
    --blk:rgb(0, 0, 0);

    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: var(--blk);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 70px;
    z-index: 9999;
}

.sticky{
    padding: 5px 70px;
    background: var(--bg);
    border-bottom: 3px solid var(--primary);
    backdrop-filter: blur(15px);
}
.sticky .logo,
header.sticky ul li a{
    color: black;
}

header.sticky .navbar-nav li:hover{
    color: black;
    border-radius: 15px;
    background-color: rgb(215, 215, 215);
    display: block;
}
.logo{
    position: relative;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
.sticky .logo{
    font-size: 1.7rem;
}
header .logo-img{
    height: 40px;
    width: 40px;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header li{
    position: relative;
    list-style: none;
    padding: 10px 5px;
    border-radius: 20px;
}
header ul li a{
    position: relative;
    margin: 0 25px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.6s;
}
header li:hover{
    background-color: rgb(15, 15, 15);
}
/* content */
h1{
    font-size: 2rem;
    padding: 1.7rem 0;
}
.container{
    height: auto;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
.pad-top{
    padding-top: 4rem;
}
section{
    height: 80vh;
    color: white;
    margin-bottom: 5rem;
}
.daftar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.grid-daftar{
    position: relative;
}
.daftar main{
    height: 45vh;
    width: 45%;
    border: 2px solid #fff;
    margin: 4rem 3rem;
    word-break: break-all;
}
.daftar-content{
    padding: 2rem;
    
}
.daftar-btn{
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    padding: 1.7rem;
    color: black;
    text-decoration: none;
    vertical-align: middle;
    background-color: white;
    font-weight: 600;
    font-size: 1.3rem;
    border-top: 3px solid #fff;
}
.daftar-btn:hover{
    background-color: #121212;
    color: white;
}
.banner{
    position:relative;
    width: 100%;
    height: 100vh;
    background-image: url('/assets/img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    animation: banner-change 35s infinite ease-in-out;
    overflow: hidden;
}
.banner .content{
    width: 100%;
    border-radius: 0 0.7rem 0.7rem 0;
}
#panel-medsos{
    padding: 3rem 0;
    justify-content: center;
    margin-bottom: 10rem;
}
#panel-daftar{
    background-color: #fff;
    color: #121212;
}
#panel-daftar .grid-daftar{
    border: 2px solid #121212;
}
#panel-daftar a{
    border-top: 2px solid #121212;
}
#contact{
    margin-top: 15vh;
}
.contain-content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.input-contain p{
    padding: 0.7rem;
    font-size: 1rem;
}

.input-form{
    border-radius: 20px;
    width: 80%;
    padding: 0.3rem 1.7rem;
    border: 0;
    border-bottom: 2px solid #4589D8;
    background: transparent;
}
.input-form:focus{
    outline: none;
}
.button{
    display: flex;
    justify-content: space-between;
    margin:2rem 3rem;
}
.button p, .submit{
    border: 3px solid #121212;
    width: 40vh;
    padding: 0.7rem;
    border-radius: 10px;
}
.button p:hover{
    color: white;
    background-color: #121212;
}
.hidden{
    visibility: hidden;
}
.d-none{
    display: none;
}
form{
    width: 60%;
    z-index: 1001;
    height: auto;
    vertical-align: center;
    left: 0;
    top: 0;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 3rem;
}
.a-pos{
    position: absolute;
}
.container-confirm{
    top: 25%;
    left:25%;
    width: 50%;
    height: 180px;
    background-color: rgba(160, 159, 215, 0.8);
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.footer{
    position: relative;
    width: 100%;
    background-color: #4589D8;
    min-height: 100px;
    padding: 20px 50px;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social-icon, .menu-footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.medsos-item, .menu-item{
    list-style: none;
}
.icon-menu-link{
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.icon-menu-link:hover{
    transform: translateY(-10px);
}
.menu-link{
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}
.menu-link:hover{
    opacity: 1;
}

.wave{
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 70px;
}
.wave#wave1{
    z-index:1000;
    opacity: 1;
    bottom: 0;
    animation: animate-wave1 4s linear infinite;
}

.wave#wave2{
    z-index:999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate-wave2 4s linear infinite !important;
}
.wave#wave3{
    z-index:1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animate-wave1 3s linear infinite ;
}
.wave#wave4{
    z-index:999;
    opacity: 0.2;
    bottom: 15px;
    animation: animate-wave2 3s linear infinite ;
}


@keyframes banner-change{
    0%{
        background-image: url('/assets/img/hero.jpg');
    }
    20%{
        background-image: url('/assets/img/hero1.jpg');
    }
    40%{
        background-image: url('/assets/img/hero2.jpg');
    }
    60%{
        background-image: url('/assets/img/hero3.jpg');
    }
    80%{
        background-image: url('/assets/img/hero4.jpg');
    }
    100%{
        background-image: url('/assets/img/hero.jpg');
    }
}
@keyframes animate-wave1{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0;
    }
}
@keyframes animate-wave2{
    0%{
        background-position-x: -1000px;
    }
    100%{
        background-position-x: 0;
    }
}
@media only screen and (max-width : 1366px){
    html{
        font-size: 75%;
    }
    section{
        height: 80vh;
    }
    .daftar{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .daftar main{
        height: 35vh;
        width: 85%;
        margin: 2rem 1rem;
    }
}@media only screen and (max-width : 900px){
    html{
        font-size: 65%;
    }
}
@media only screen and (max-width : 500px){
    html{
        font-size: 65%;
    }
}
