:root{
    --primary:#6c7fed;
    --bg:#f9f6f6;
    --font:#0e0e0e;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body{
    font-family: 'poppins',sans-serif;
    background-color: var(--bg);
    color: #0e0e0e;
    min-height: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background-color: rgba(252, 251, 250, 0.75);
    border-bottom: 2px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

}

.navbar .navbar-logo{
    font-size: 2rem;
    font-weight: 700;
    color: var(--font);
    font-style: italic;
}
.navbar .navbar-logo span{
    color: var(--primary);
}
.navbar .navbar-nav a{
    font-weight: 500;
    color: var(--primary);
    display: inline-block;
    font-size: 1rem;
    margin: 0 1.3rem;    
}
.navbar .navbar-nav a:hover{
    color: var(--font);
}
.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom:  0.3rem;
    border-bottom: 0.2rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.3s linear;
    animation: ease-in-out;
}
.navbar .navbar-nav a:hover::after{
    transform: scaleX(1);
}

.navbar.navbar-extra a{
    color: var(--primary);
    margin: 0 0.5rem;
}

#hamburger-menu{
    display: none;
}

.hero
{
    align-items: center;
    position: relative;
    margin: auto;
    width: 75%;
    padding-top: 100px;
}
.hero::after{
    content:  '';
    display: block;
}
.selamat-datang{
    text-align: center;
    align-self: center;
    width:100%;
    margin-bottom: 3rem;
}
.selamat-datang h1{
    align-items: center;
    border-bottom: 0.2rem solid var(--primary);
    margin-bottom: 1rem;
}
section div{
    padding: 7vh 5vh;
    margin-bottom: 3rem;
    border-width: 0.2rem;
    border-radius: 0.5rem;
    border-style: solid ;
    border-color: var(--primary);
}
section h1{
    color: var(--primary);
    font-weight: 700;
    font-size: 4vh;
}
h1 span{
    color: var(--font
    );

}
.btn-daftar{
    color: var(--primary);
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    color: var(--bg);
    width: 100%;
    text-align: center;
    background-color: var(--primary);
    border-radius: 0.5rem;
}

.footer {
    bottom:0;
    left:0;
    width:100%;
    text-wrap: wrap;
    background-color: #D0DAEE;
    padding: 3vh;
    border: #6c7fedee;
  }
  .content-footer{
    max-width: 80%;
    margin-bottom: 0.3rem;
  }

  @keyframes fadein{
    from{opacity: 0;};
    to{opacity: 1;}
  }

/* laptop */
@media (max-width :1366px){
    html{
        font-size: 75%;
    }
}
/* tablet */
@media (max-width :860px){
    html{
        font-size: 62.5%;
    }

    #hamburger-menu{
        display: inline-block;
        
    }
    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -250%;
        background-color: rgba(247, 240, 240, 0.8);
        width: 30rem;
        height: 100vh;
        transition: 1s;
        border-left: 0.2rem solid var(--primary);
    }
    .navbar .navbar-nav.active{
        right: 0;
    }

    .navbar .navbar-nav a{
        color: var(--primary);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after{
        transform-origin: 0 0;
    }
    .navbar .navbar-nav a:hover::after{
        transform: scaleX(0.7);
    }

    .about .row{
        flex-wrap: wrap;
    }
    .about .row .about-img img{
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }
    .about .row .content{
        padding: 0;
    }
    .about .row .content h3{
        margin-top: 1rem;
        font-size: 2rem;
    }

    .hero{
        min-height: 45vh;
        width: 80;
        padding-top: 70px;
    }

}

/* mobile */
@media (max-width :450px){
    html{
        font-size: 50%;
    }
}